<div class="menuitems" *ngFor="let item of menu">
  <p class="levelone">
    <input (click)="item.clicked = !item.clicked; item.expand = true" type="checkbox" name="" id="item.name">
    {{ item.name }}
    <span [ngClass]="{'collapse': item.clicked }" class="levelone" *ngFor="let choice of item.choices">
        <p>
          <input (click)="item.expand = !item.expand" type="checkbox" name="" id="item.name">
          {{ choice.name }}
        </p>
    </span>
    <span [ngClass]="{'collapse': item.expand }">
      <p class="title">You might also like:</p>
      <span *ngFor="let related of item.related" class="leveltwo">
          <p>
            <input (click)="toggleTertiary()" type="checkbox" name="" id="item.name">
            {{ related.name }}
            <span [ngClass]="getTertiary()" *ngFor="let relchoice of related.choices">
                <p>
                  <input type="checkbox" name="" id="">
                  {{ relchoice.name }}
                </p>
            </span>
          </p>
      </span>
    </span>
    
  </p>
  
</div>
